@use "../configuration" as *;
$button-circle-size: 4rem;


.c-button-container {
  &.is-default {
    width: 10rem;
  }

  &.is-primary {
    width: $button-circle-size;
    height: $button-circle-size;
    overflow: hidden;
    border-radius: 50em;
  }
}
