@use "../configuration" as *;

.c-button {
  display: block;

  &:hover {
    opacity: .7;
  }

  &.is-default {
    color: $white;
    padding: .75rem 2rem;
    border: 1.5px solid $white;
    border-radius: .25rem;

  }

  &.is-primary,
  &.is-secondary {
    $width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20%;
    background-color: $red;
  }

  &.is-secondary {
    background-color: $blue;
  }
}
